<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="PIZZAKOPIZZAMO.Properties.Settings.Pizza_firstConnectionString"
            connectionString="Data Source=LAPTOP-H7G3NT34\SQLEXPRESS;Initial Catalog=Pizza_first;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>